[submodule "lib/omp-sdk"]
	path = lib/omp-sdk
	url = git@github.com:openmultiplayer/open.mp-sdk.git
	branch = dev
[submodule "lib/sol"]
	path = lib/sol
	url = git@github.com:ThePhD/sol2.git
[submodule "lib/lua"]
	path = lib/lua
	url = git@github.com:shierru/Lua.git
